header#main-header {
    height: 60px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    background: #da552f;
    color:  #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

header#main-header a {
    color: #fff;
    text-decoration: none;
}

header#main-header a:hover {
    font-size: 20px;
}